@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Francois+One');

/* body size matches screen size exactly */
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #60caff;
  display: inline;
  overflow-x: hidden;
  text-transform: uppercase;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#logout-button, .logout-message {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 20;
  color: #f00;
  font-size: 32px;
}

.logout-message {
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  padding: 5px;
  font-family: 'Francois One';
}

#logout-button:hover {
  cursor: pointer;
}

/* centers content with flexbox */
.toast-container,.cover-game,.form-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 90vw;
  height: 86vh;
  padding: 3vh 5vw 11vh;
}

.form-container {
  overflow: auto;
}

/* container for active game objects */
.toast-container {
  overflow-y: hidden;
  position: fixed;
}

/* styling for game cover  */
.cover-game,.form-container {
  background-color: rgba(0,0,0,0.95);
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}

.content-half {
  width: 100%;
}

/* full width button */
.big-button {
  width: 100%;
  height: auto;
  border-radius: 15px;
  line-height: 12vw;
  padding: 12px;
  border: none;
  outline: none;
}

/* pre-determined color classes */
.red {
  background-color: #f00;
}

.red:hover {
  cursor: pointer;
}

.green {
  background-color: #00b533;
}

.green:hover {
  cursor: pointer;
}

.blue {
  background-color: #4286f4;
}

.blue:hover {
  cursor: pointer;
}

.blue:active {
  background-color: #3773d3;
}

/* large text styling */
.big-text {
  font-family: 'Archivo Black', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 10vw;
  text-transform: uppercase;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.big-text-active {
  transform: scale(1.5,1.5);
}

#multiplier {
  text-transform: none !important;
  position:absolute;
  left: -15px;
  right: 0;
  top: 5px;
  margin: 40px auto;
  font-size: 32px;
  color: #f00;
}

.click-speed-bar {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.speed-gauge {
  width: 80%;
  margin-top: 30px;
}

.speed-gauge-bar {
  filter: brightness(.5);
  padding: 20px;
}

#speed1 {
  background-color: #e0c600;
}

#speed2 {
  background-color: #e08200;
}

#speed3 {
  background-color: #d80202;
}

#speed4 {
  width: 100px;
  height: 100px;
  margin-left: -32px;
  padding: 0 !important;
  position: relative;
}

#speed4 img {
  width: 100%;
  height: 100%;
}

.lit-click-speed {
  filter: brightness(1) !important;
}

.toasty-lit-click-speed {
  transform: scale(1.3,1.3);
}

#toast-slice, #toaster {
  width: 100%;
  height: auto;
}

#toast-slice {
  margin-bottom: -4vw;
  transition: margin-bottom .2s;
}

#toast-slice.toasting {
  margin-bottom: -27vw !important;
  transition: margin-bottom 1s ease-out;
}

#toast-slice img {
  width: 28%;
}

.light-toast {
  filter: brightness(.95);
}

.dark-toast {
  filter: brightness(.8);
}

.burnt-toast {
  filter: brightness(.1);
}

#toaster {
  margin-bottom: 50px;
  filter: brightness(1);
}

#toaster img {
  width: 50%;
}

#toaster::after {
  content: "";
  width: 4vw;
  height: 3vw;
  background-color: #000;
  margin: 4vw 0 0 0;
  border-radius: 0 50% 50% 0;
  position: absolute;
  transition: margin .2s;
}

#toaster.toasting::after {
  margin: 24vw 0 0 0 !important;
  transition: margin 1s ease-out;
}

#start {
  z-index: 6;
  margin-top: 40px;
}

.toast-active {
  background-color: #d00000 !important;
  transform: translateY(2px)
  rotateZ(-2deg)
  scale(1.1,1.1);
}

.form-container {
  font-family: 'Francois One';
  font-size: 6vw;
  height: auto;
  min-height: 94vh;
}

div.each-form span.form-notify,div.each-form span.input-label {
  float: left;
  color: #fff;
}

span.form-notify {
  width: 100%;
  font-size: 9vw;
  color: #fff;
  font-family: 'Francois One';
  margin-bottom: 20px;
}

#login-form .final-score {
  font-size: 12vw !important;
  font-family: 'Archivo Black'
}

#submit-score-form .final-score {
  font-size: 32vw !important;
  font-family: 'Archivo Black'
}

div.each-form {
  width: 100%;
}

.form-field{
  border-radius: 15px;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  outline: none;
  text-align: center;
  font-family: 'Francois One';
  font-size: 8vw;
}

button.submit-button {
  text-transform: uppercase;
  color: #fff;
}

span.form-help-links {
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
}

span.form-help-links:hover {
  cursor: pointer;
}

.play-again-link {
  color: #00b533 !important;
  margin-bottom: 30px;
}

#registration-confirmation {
  cursor: default !important;
}

span.input-error {
  color: #f00 !important;
}

input.input-error {
  border: 2px solid #f00 !important;
}

#show-password {
  text-transform: none;
}

#show-score-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.scoreboard-container {
  width: 100%;
}

#scoreboard-table {
  width: 100%;
  height: 50%;
  color: #fff;
}

#scoreboard-table caption {
  font-size: 8vw;
}

.leaderboard-rank {
  background: url(img/toasty-rank.png) no-repeat center;
  background-size: 50px;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 50px;
  padding: 5px;
}

#rank1 {
  background: url(img/toasty-rank1.png) no-repeat center;
  background-size: 50px;
}

#rank2 {
  background: url(img/toasty-rank2.png) no-repeat center;
  background-size: 50px;
}

#rank3 {
  background: url(img/toasty-rank3.png) no-repeat center;
  background-size: 50px;
}

.leaderboard-name {
  padding-left: 10%;
}

.hidden {
  display: none !important;
}

@media only screen and (min-width: 600px) {
  /* styling for containers */
  .toast-container,.cover-game,.form-container {
    width: 80vw;
    height: 86vh;
    padding: 7vh 10vw;
  }

  .big-text {
    font-size: 5vh;
  }

  /* full width button */
  .big-button {
    max-width: 400px;
    line-height: 7vh;
    padding: 16px;
  }

  span.form-notify {
    font-size: 7vw;
  }

  .form-container {
    font-family: 'Francois One';
    font-size: 2.5vh;
    min-height: 0;
  }

  .form-field {
    font-size: 3vh;
  }

  div.each-form {
    max-width: 500px;
  }

  #login-form .final-score {
    font-size: 12vh !important;
    font-family: 'Archivo Black'
  }

  #submit-score-form .final-score {
    font-size: 20vh !important;
    font-family: 'Archivo Black'
  }

  #toast-slice img {
    width: 38%;
    max-width: 140px;
  }

  #toaster img {
    width: 70%;
    max-width: 250px;
  }

  #toast-slice {
    margin-bottom: -2vh;
  }

  #toast-slice.toasting {
    margin-bottom: -15vh !important;
  }

  #toaster::after {
    width: 2vh;
    height: 1.5vh;
    margin: 2vh 0 0 0;
  }

  #toaster.toasting::after {
    margin: 13vh 0 0 0 !important;
  }

  #scoreboard-table caption {
    font-size: 6vw;
  }

  .leaderboard-name,.leaderboard-score {
    line-height: 2.5vh;
    font-size: 2.5vh;
  }
}

/* tablets portrait */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .big-button {
    max-width: 500px;
  }

  .speed-gauge {
    width: 100%;
  }

  .speed-gauge-bar {
    padding: 30px;
  }

  #speed4 {
    width: 150px;
    height: 150px;
    margin-left: -48px;
  }

  #multiplier {
    top: 32px;
  }

  #toast-slice img {
    width: 38%;
    max-width: 140px;
  }

  #toaster img {
    width: 70%;
    max-width: 250px;
  }

  #toast-slice {
    margin-bottom: -1vh;
  }

  #toast-slice.toasting {
    margin-bottom: -11vh !important;
  }

  #toaster::after {
    width: 1.5vh;
    height: 1.5vh;
    margin: 1.5vh 0 0 0;
  }

  #toaster.toasting::after {
    margin: 10vh 0 0 0 !important;
  }

  .each-form {
    max-width: 650px !important;
  }

  #submit-score-form .final-score {
    font-size: 16vh !important;
  }

  #scoreboard-table {
    height: 70%;
  }
}


/* small desktop */
@media only screen and (min-width: 1200px) and (max-height: 850px) {
  /* styling for containers */
  .toast-container,.cover-game,.form-container {
    width: 60vw;
    height: 90vh;
    padding: 5vh 20vw;
  }

  /* full width button */
  .big-button {
    max-width: 400px;
    line-height: 7vh;
    padding: 16px;
  }

  #toast-slice {
    margin-bottom: -2vh;
  }

  #toast-slice.toasting {
    margin-bottom: -17vh !important;
  }

  #toast-slice img {
    width: 12%;
    max-width: 140px;
  }

  #toaster {
    margin-bottom: 10px;
  }

  #toaster img {
    width: 20%;
    max-width: 250px;
  }

  #toaster::after {
    width: 2vh;
    height: 1.5vh;
    margin: 2vh 0 0 0;
  }

  #toaster.toasting::after {
    margin: 15vh 0 0 0 !important;
  }

  .form-container {
    font-family: 'Francois One';
    font-size: 2.5vh;
    min-height: 0;
  }

  span.form-notify {
    font-size: 4vh;
  }

  div.each-form {
    width: 100%;
    max-width: 400px;
  }

  .form-field {
    font-size: 3vh;
  }

  #login-form .final-score {
    font-size: 12vh !important;
    font-family: 'Archivo Black'
  }

  #submit-score-form .final-score {
    font-size: 20vh !important;
    font-family: 'Archivo Black'
  }

  #scoreboard-table caption {
    font-size: 4vw;
  }
}

/* large desktop */
@media only screen and (min-width: 1200px) {
  /* styling for containers */
  .toast-container,.cover-game,.form-container {
    width: 60vw;
    height: 90vh;
    padding: 5vh 20vw;
  }

  #logout-button, .logout-message {
    position: absolute;
    top: 28px;
    right: 28px;
    font-size: 40px;
  }

  span.form-notify {
    font-size: 7vh;
  }

  div.each-form {
    width: 100%;
    max-width: 650px;
  }

  #scoreboard-table caption {
    font-size: 6vh;
  }
}
